.hi {font-size: 100px; text-align:center; font-family: serif; color: azure}

body {background: url("ant.png");
background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size: 100% 100%;}

.para {font-family: serif; color: azure; font-size: 24px; ;}
